// TEXT

$textWhite: #ffffff;
$textWhiteClick: #ccd1ff;
$textMain: #101820;
$textColored: #160242;
$textDanger: #f2002c;
$textLigth: #948ea3;
$textAtention: #c0540b;

// COLORS

$primary: #4e00f2;
$primaryShadow: #4e00f252;
$primaryHover: #573cff;
$primaryActive: #380a9c;

$secondary: #f9f8ff;
$secondaryHover: #e7e3ff;
$secondaryActive: #c6bcff;

$divider: #d8d8d8;

$active: #edeff2;
$outlidle: #f9f8ff;
$outlstroke: #efecff;
$outlhover: #c6bcff;
$outlclick: #e7e3ff;

$txtclick2: #4617a8;
$txtactive: #160242;
